
.icon-logout:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-logout-1:before { content: '\e807'; } /* '' */
.icon-heart-1:before { content: '\e808'; } /* '' */
.icon-heart-empty:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-user-add:before { content: '\e80c'; } /* '' */
.icon-fire-1:before { content: '\e80d'; } /* '' */
.icon-fire-2:before { content: '\e80e'; } /* '' */
.icon-menu-1:before { content: '\e80f'; } /* '' */
.icon-plus-1:before { content: '\e810'; } /* '' */
.icon-user-add-outline:before { content: '\e811'; } /* '' */
.icon-user-delete-outline:before { content: '\e812'; } /* '' */
.icon-menu-2:before { content: '\f008'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */