/* quote font 
    font-family: 'Lucida Grande';
    font-style: italic;

body {
    background: url(../xxx.xxx);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
*/

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Dancing+Script|Lato|Lobster|Montserrat|Pacifico|Permanent+Marker|Sacramento|Shadows+Into+Light|Ultra&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ultra', serif;
font-family: 'Lobster', cursive;
font-family: 'Bebas Neue', cursive;
*/

* {
    margin: 0;
    padding: 0;
}

body a {
    color: white;
}

body {
    background: url(../barcelona.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    font-family: 'Montserrat', 'Lato', sans-serif;
}

h1, h2 {
    margin: 0;
    color: black;
    
}

/* h1:hover, h2:hover {
    color: #FFEE00;
} */

.wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.topbar {
    padding: 10px;
    height: 55px;
    background-color: rgb(12, 59, 105); 
    margin: 0;
    color: #FFEE00; 
    
}

.topbar a{
    text-decoration: none;
    color: #FFEE00; 
}

.left_container {
    float: left;
    width: 320px;
    height: inherit;
    margin: 0;
    font-family: 'Ultra', serif;
    font-size: 25px;
}


.left_container img {
    float: left;
    width:120px;
    height: 60px;
}

.valverde_out {
    margin-top: 10px;
}

.menu_expander {
    display: none;
}

.menu_expanded {
    display: none;
}

.left_container a {
    text-decoration: none;
    color: #FFEE00;
    font-weight: bold;
}


.mid_container {
    float: left;
    width: 330px;
    height: inherit;
    margin-top: 5px;
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', 'Helvetica', cursive;
    
}

.right_container {
    float: left;
    width: 328px;
    height: inherit;
    margin: 0;
    text-align: right;
    font-size: 30px;    
}

.icons {
    margin-top: 10px;
}

.icon-user-plus:hover {
    color: #DDCC00;
}

.icon-user:hover {
    color: #DDCC00;
}

.icon-logout-1 {
    font-size: 25px;
}

.icon-logout-1:hover {
    color: #DDCC00;
}

.menu {
    width: 1000px;
    background-color: #A70042;
    height: 45px;
}

.menu_element {
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    color: white;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 20px;

}

.menu_text {
    display: block;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu_element:hover {
    background-color: rgb(134, 4, 56);

}





#content {
    width: 100%;
    height: 100%;
   
}

#c3_last_and_2_top {
    height: 400px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid gray;
    font-family: 'Lato', 'Montserrat', sans-serif;
    
}



/* CONTENT ELEMENTS: main photo (last post)/ 2nd and 3rd last posts / 2 most commented posts  */
/* MAIN PHOTO (LAST POST) */

#main_photo {
    width: 498px;
    height: 400px;
    border-right: 2px solid black;
    float: left;  
    position: relative;
    
}

#main_photo h1 {color: white;}
#main_photo:hover img {opacity: 0.8;}
#main_photo:hover h1 {color: #FFEE00;}


/* #c3_last_and_2_top img:hover {
    opacity: 0.8;    
} */


#main_photo img {
    width: 498px;
    height: 400px;
    position: absolute;
}

.text_on_photo {
    position: absolute;
    text-align: justify;
    bottom: 0;
    left: 5px;
    right: 5px;
}

/* End of main post */

/* SECOND AND THIRD OF LAST POSTS*/


#c2nd_and_3rd {
    box-sizing: border-box;
    height: 100%;
    width: 250px;
    border-right: 2px solid black;
    float: left;
    position: relative;
}

.first_photo h2 {color: white;}
.first_photo:hover img {opacity: 0.8}
.first_photo:hover h2 {color: #FFEE00}


.second_photo h2 {color: white;}
.second_photo:hover img {opacity: 0.8}
.second_photo:hover h2 {color: #FFEE00}


#last_posts_text {
    background-color: rgb(12, 59, 105);
    color: #FFEE00;
    text-align: center;
    height: 20px;
    font-weight: bold;
}


#last_p {

    margin-top: 2px;
}


#c2nd_and_3rd img {
    width: 248px;
    height: 190px;
    margin: 0;
}

.first_photo {
    height: 190px;
    position: relative;
}

.text_on_1st {
    position: absolute;
    bottom: 7px;
    left: 5px;
    right: 5px;
}

.second_photo {
    height: 190px;
    position: relative;
}

.text_on_2nd {
    position: absolute;
    bottom: 7px;
    left: 5px;
    right: 5px;
}

/* end of second and third last posts */

/* 2 MOST COMMENTED POSTS */


#c2_most_commented {
    width: 250px;
    height: 100%;
    float: left;
    position: relative;
    
}

#c2_most_commented img {
    width: 250px;
    height: 190px;
    margin: 0;
}

#most_commented_text {
    background-color: rgb(12, 59, 105);
    color: #FFEE00;
    text-align: center;
    height: 20px;
    font-weight: bold;
}

#most_c {
    margin-top: 2px;

}

.c1st_most_commented {
    height: 190px;
    position: relative;
}


.c1st_most_commented h2 {color: white;}
.c1st_most_commented:hover h2 {color: #FFEE00;}
.c1st_most_commented:hover img {opacity: 0.8}

.c2nd_most_commented h2 {color: white;}
.c2nd_most_commented:hover h2 {color: #FFEE00;}
.c2nd_most_commented:hover img {opacity: 0.8}




.text_on_1st_most_commented {
    position: absolute;
    bottom: 7px;
    left: 5px;
    right: 5px;
}

.c2nd_most_commented {
    height: 190px;
    position: relative;
}

.text_on_2nd_most_commented {
    position: absolute;
    bottom: 7px;
    left: 5px;
    right: 5px;
}

/* end of 2 most commented posts */



/* SEPARATING DIV */

#separating_div {
    width: 100%;
    background-color: rgb(12, 59, 105);
    height: 10px;
}


#ad2 {
    
    width: 100%;
    background-color: rgb(12, 59, 105);
}

.stat_container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    margin-left: 30px;
}

.stat_box {
    margin-right: 13px;
}

.stat_box_md {
    display: none;
}

/* LAST 20 REMAINING POSTS */

#last20_on_the_left_and_ads_on_the_right {
    width: 100%;
    height: 100%;
    background-color: rgb(134, 134, 134);
    color: black;
    
}

#last20_on_the_left_and_ads_on_the_right h2 {
    color: black;
}

#last_20_on_the_left {
    width: 750px;
    background-color: white;
    float: left;
    padding: 10px;
}

#last_20_on_the_left img {
    width: 200px;
    height: 125px;

}


.article {
    color: black;
    font-size: 0.85em;
    text-align: justify;
    line-height: 1.5em;
}

.article:hover {background-color: rgb(197, 195, 195);}
.article:hover h2 {color: yellow; text-decoration: underline;}


.post_image {
    float: left;
}

.post_data {
    float: left;
    padding: 5px;
    width: 500px;
    word-wrap: break-word;
    text-align: left;
}

.post_data i{
    font-size: 0.9em;
    font-weight: lighter;
}

/* .post_header {
    height: 60px;
} */

.post_text {
    width: 500px;
    height: 55px;
    font-weight: lighter;
    text-align: left;
    word-wrap: break-word;
    height: 75px;

}

.post_description_sm {
    display: none;
    font-weight: lighter;
    text-align: left;
    word-wrap: break-word;
}

.post_text h1 {
    display: inline-block;
}



#ads_on_the_right {
    float: left;
    width: 23%;
    height: 400px;
    background-color: rgb(12, 59, 105);
    display: block;
}

/* POST DETAILS */

#post_detail_and_ads a {
    color: black;
}
#post_detail_and_post_photo {
    float: left;
}

#post_detail {
    background-color: rgb(241, 237, 237);
    width: 730px;
    padding: 10px;
    font-family: "Lato", 'Helvetica', sans-serif;
    color: black;
    text-overflow: inherit;
    word-wrap: break-word;
    /* white-space: initial; */
}

#post_detail i {
    font-size: 0.8em;
}

#post_detail p {
    font-size: 1em;
    line-height: 1.5em;
    /* word-wrap: break-word;
    white-space: initial; */
}

#post_photo {
    width: 750px;
    height: 470px;
}

#post_detail h1 {
    color: black;
    font-family: "Lato", "Montserrat", sans-serif;
    font-weight: bold;
}


/* COMMENT SECTION IN POST DETAIL */

#comments {
    background-color: rgb(12, 59, 105);
    padding: 10px;
    font-family: "Lato", "Montserrat", sans-serif;
    line-height: 1.5em;

}

#comments h2 {
    color: #FFEE00;
    padding-bottom: 10px;
}


.comment {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    color: black;
    border-bottom: 5px solid rgb(12, 59, 105);
    border-radius: 20px;
}

.comment h3 {
    display: inline;;
}
.comment i{
    font-size: 0.8em;
    display: inline;
}


.add_a_subcomment {
    display: none;
}


.add_a_subcomment.active {
    display: block;
    background-color: rgb(12, 59, 105);
    margin-top: 3px;
}

.subcomment {
    background-color: white;
    float: right;
    width: 600px;
    padding: 10px;
    color: black;
    border-bottom: 3px solid rgb(12, 59, 105);
    border-left: 3px solid rgb(12, 59, 105);
    border-radius: 20px;
    border-top-left-radius: 0px;
    
}

.subcomment h3 {
    display: inline;;
}
.subcomment i{
    font-size: 0.8em;
    display: inline;
}
.subcomment p {
    font-size: 1em;
}
/* COMMENT LIKES */

.likes_number {
    text-align: center;
    float: right;
}

.likes_number a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

/* POST DETAIL ADS ON THE RIGHT */


#post_detail_ads {
    background-color: rgb(12, 59, 105);
    width: 240px;
    padding: 0px 5px;
    float: left;
}

#post_detail_ads h2 {
    color: black;
}

.add_comment {
    padding-bottom: 10px;
    text-align: left;
}

.add_comment a {
    color: white;
    text-decoration: underline;
}

.add_comment a:hover {
    color: #FFEE00;
}

.add_a_subcomment {
    background-color: rgb(12, 59, 105);
}
.add_a_subcomment form {
    float: right;
}
.add_a_subcomment input {
    float: right;
}



textarea#id_body {
    border-radius: 5px;
    font-family: 'Lato', 'Montserrat', sans-serif;
    font-size: 1.05em;
    width: 550px;
    height: 100px;
    resize: none;
}
.add_comment form {
    border-radius: 20%;
    margin-left: 20px;
}

.answer_to_comment {
    text-align: right; 
    font-weight: bold;
    width: 85px;
    float: right;
    
}

.answer_to_comment:hover {
    text-decoration: underline;
    cursor: pointer;
}

.subcomment_form form {
    width: 650px;
    float: right;
    text-align: right;
}


/* POST EDIT */

.message_success {
    background-color: green; 
    color: white; 
    text-align: center;
}

/* INPUTS */
input[type=submit] {
    font-weight:bold;
    background:#FFEE00;
    color:black;
    padding:10px 20px;
    font-size:14px;
    border-radius: 5%;

}

input[type=submit]:hover {
    cursor: pointer;
    background:#DDCC00;
    

}


input, textarea {
    clear:both;
    margin-right: 50px;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:14px;
}

/* .add_comment input[type=submit], button{
    margin-left: 200px;

} */


.registration_form {
    width: 500px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.registration_form form {
    text-align: right;
    margin-right: 150px;
    
}

.registration_form h2 {
    color: white;
}

.registration_form input[type=submit] {
    margin-right: 60px;
}

.forgot_password {
    text-align: center;
}

.errorlist {
    text-align: left;
}

.helptext {
    display: none;
}

.c2_statistics {
    display: none;
}

@media (max-width: 1300px) {

    body {
        background-image: none;
        background-color: rgb(12, 59, 105);
    }
    .wrapper {
        width: 90%;
        padding: 10px;
    }

    .left_container {
         position: sticky;
    }


    .menu_expander {
        
        display: block;
        font-size: 2em;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
        background-color: #A70042;
        color: #FFEE00;
    }

    .menu_expanded {
        margin-left: auto;
        margin-right: auto;
        display: none;
        background-color: #A70042;
        height: auto;
        width: 80%;
    }

    ul.menu_expanded > li {
        text-align: center;
        padding: 3px;
        list-style-type: none;
        position: relative;
        border-bottom: 1px solid #FFEE00;
        background-color:#A70042;
        z-index:222;
    }

    ul.menu_expanded > li a {
        text-decoration: none;
    }

    #content {
        background-color: rgb(12, 59, 105);
        width: 100%;
        height: 100%;
        
    }
    

    .mid_container {
        display: none;

    }

    .right_container {
        display: none;
    }
    .menu {
        display: none;
    }    


    #c3_last_and_2_top {
        height: 800px;
        background-color: rgb(12, 59, 105);
        padding: 10px;
    }

    #main_photo {
        width: 65%;
    } 

    #main_photo img {
        width: 100%;
        height: 400px;
        position: relative;
        border: 0;
    }

    #c2nd_and_3rd {
        box-sizing: border-box;
        height: auto;
        width: 34.7%;
        border: 0;
        
        float: left;
        position: relative;
    }

    #c2nd_and_3rd img {
        width: 100%;
    }

    #c2_most_commented {
        box-sizing: border-box;
        height: auto;
        width: 34.7%;
        border: 0;
        
        float: right;
        position: relative;
        
    }

    #c2_most_commented img {
        width: 100%;
    }

    #last_posts_text {
        background-color: #A70042;
    }
    
    #most_commented_text {
        background-color: #A70042;
    }

    .c2_statistics {
        box-sizing: border-box;
        width: 65%;

        height: 400px;
        padding: 5px;
        display: block;
        float: left;
        margin-top: 5px;
    }

    .c2_tables {
        margin-right: auto;
        margin-left: auto;
        height: 400px;
    }

    .stat_container {
        display: none;
        
    }

    .stat_box_md {
        display: block;
    }

    #last_20_on_the_left {
        width: 100%;
        background-color: white;
        float: left;
        padding: 10px;
    }

    #ads_on_the_right {
        display: none;
    }
    
    .barca_stats {
        width: 50%;
        float: left;
        height: 400px;
        margin-left: 10px;
    }

    .la_liga_table {
        min-width: 150px;
        width: 45%; 
        height: 375px;
        float: right; 
        overflow: hidden;
        margin-right: 10px;
    
    }

    .last_next_match {
        overflow: hidden; 
        width: 50%; 
        height: 400px; 
        float: right;
        margin-right: 10px;
    }
    
 

}




@media (max-width: 1028px)  {
    
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .menu_expander {
        
        display: block;
        font-size: 2em;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
        background-color: #A70042;
        color: #FFEE00;
    }

    .menu_expanded {
        display: none;
        background-color: #A70042;
        
    }

    ul.menu_expanded > li {
        text-align: center;
        padding: 3px;
        list-style-type: none;
        border-bottom: 1px solid #FFEE00;
    }

    ul.menu_expanded > li a {
        text-decoration: none;
        
    }
    
    #main_photo {
        width: 100%;
        border: 0;
    } 

    #main_photo img {
        width: 100%;
        height: 400px;
        position: absolute;
    }

    #c3_last_and_2_top {
        padding: 2px;
    }
    #c2nd_and_3rd {
        box-sizing: border-box;
        height: auto;
        width: 50%;
        border-right: 0;
        float: left;
        position: relative;
    }

    #c2_most_commented {
        box-sizing: border-box;
        height: auto;
        width: 50%;
        border-right: 0;
        float: left;
        position: relative;
    }

    #c2nd_and_3rd img {
        width: 100%;
    }
    .c2_statistics {
        display: none;
        
    }

    #last_20_on_the_left {
        padding: 2px;
    }

    .article {
        width: 100%;
    }
    .post_data {
        float: left;
        width: 50%;
    }

    .post_text {
        display: none;
    }

    .post_description_normal {
        display: none;
    }

    .post_description_sm {
        display: block;
        word-wrap: break-word;
    }
}


@media (max-width: 600px) {

    .topbar {
        width: 100%;
        padding: 0;
        position: fixed;
        z-index: 9999;
        margin-top:0px;
        
    }
    .left_container {
        width: 80%;
        margin-left: 10px;
        float: left;
    }
    .left_container img {
        float: left;
        width:90px;
        height: 45px;
        margin-bottom: 20px;
    }

    .valverde_out {
        font-size: 0.9em;
        padding: 0;
    }

    .menu_expander {
        
        display: block;
        font-size: 2em;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
 
    }

    .menu_expanded {
        display: none;
        background-color: #A70042;
        width: 100%;
        
        position: fixed;
        margin-top: 55px;
        z-index:333;
    }

    ul.menu_expanded > li {
        text-align: center;
        padding: 3px;
        list-style-type: none;
    }

    ul.menu_expanded > li a {
        text-decoration: none;
    }

    #c3_last_and_2_top h1 {
        font-size: 1.5em;
    }
    #c3_last_and_2_top h2 {
        font-size: 1.1em;
    }
    #c3_last_and_2_top {
        width: 100%;
        height: 100%;
        
        
    }

    #main_photo {
        width: 100%;
        border: 0;
        min-height: 200px;
        height: 250px;
        border-bottom: 3px solid rgb(12, 59, 105);
    } 

    #main_photo img {
        width: 100%;
        height: 100%;
    }

    
    .first_photo {
        height: 100%;
    }

    .second_photo {
        height: 100%;
    }

    #c2nd_and_3rd img {
        min-height: 100px;
        height: 150px;
    }

    #c2_most_commented img {
        height: 150px;
    }

    .c1st_most_commented {
        height: 100%;
    }

    .c2nd_most_commented {
        height: 100%;
    }


    .last_posts_and_most_commented {
        height: 40%;
        padding-bottom: 10px;
    }
    .wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: 0;
        position: relative;
    }

    .post_image img {
        width: 10px;
    }

    .post_text {
        width: 60%;
    }



    #last_20_on_the_left img {
        width: 125px;
        height: 85px;
    }

    #last_20_on_the_left h2 {
        font-size: 1.3em;
    }
} 


@media (max-width: 351px) {
    .valverde_out {
        display: none;
    }

    .left_container {
        width: 50%;
    }
}