{% extends 'base2.html' %}
{% load valverde_tags %}
{% load static %}


{% block grid %}
<div class="grid">

        
                
            <div class="menu_element menu_element_1"><a href="{% url 'valverde:index2' %}"><div class="menu_text">Home</div></a></div>
            <div class="menu_element menu_element_2"><a href="{% url 'valverde:add_post' %}"><div class="menu_text">Add a post</div></a></div>
            <div class="menu_element menu_element_3"><div class="menu_text"><a href="{% url 'valverde:contact' %}">Contact</a></div></div>
            <div class="menu_element menu_element_4"><div class="menu_text">About</div></div>
             
            
        
            {% comment %} SECOND ROW {% endcomment %}
            {% get_last_post as last_post %}
            <div class="main_img box box5">
                <a href="{{ last_post.get_absolute_url }}">
                
                    <img src="{{ last_post.image.url }}">
                    <div class="text_on_photo"><h1>{{ last_post.title|truncatechars:80|title }}</h1></div>                    
                    
                </a>
            </div>

            <!-- THIRD ROW AND LAST POSTS -->
            {% get_2nd_last_post as second_post %}
            {% get_3rd_last_post as third_post %}
            
            <div class="last_post_2 box box6">
                <a href="{{ second_post.get_absolute_url }}">
                    
                            <img src="{{ second_post.image.url }}">
                            <div class="text_on_1st text_on_photo"><h2>{{ second_post.title|truncatechars:80|title }}</h2></div>
                            
                </a>
            </div>

            <div class="last_post_3 box box7">
                <a href="{{ third_post.get_absolute_url }}">
                                
                        <img src="{{ third_post.image.url }}">
                         <div class="text_on_2nd text_on_photo"><h2>{{ third_post.title|truncatechars:80|title }}</h2></div>
                
                </a> 
            </div>
            
            <!-- MOST COMMENTED POSTS -->
            
                {% get_first_most_commented_post as most_commented_post %}
                {% get_second_most_commented_post as second_most_commented_post %}
        
            <div class="most_commented_posts_text box">
                <p class="text">MOST COMMENTED</p>
            </div>
                    
            <div class="most_commented_1 box box8">
                <a href="{{ most_commented_post.get_absolute_url }}">
                    
                        <img src="{{ most_commented_post.image.url }}">
                        <div class="text_on_1st text_on_photo"><h2>{{ most_commented_post.title|truncatechars:80|title }}</h2></div>
                        <div class="comment_number"><i class="icon-fire"></i>{{ most_commented_post.comments.count }}</div>
                    
                </a>
            </div>
            
                    
            <div class="most_commented_2 box box9">
                <a href="{{ second_most_commented_post.get_absolute_url }}"> 
                    
                        <img src="{{ second_most_commented_post.image.url }}">
                        <div class="text_on_2nd text_on_photo"><h2>{{ second_most_commented_post.title|truncatechars:80|title }}</h2></div>
                        <div class="comment_number"><i class="icon-fire"></i>{{ second_most_commented_post.comments.count }}</div>
                </a>
            </div> 

            <div class="last_next_match" >
                
            
                <div class="stat_box stat_box_1 stat_box_md"><iframe  frameborder="0" scrolling="yes" width="300" height="190" src="https://www.fctables.com/teams/barcelona-181013/iframe/?type=team-last-match&lang_id=2&country=201&template=43&team=181013&timezone=Europe/Warsaw&time=24&width=300&height=190&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&scfs=22&scfc=333333&scb=1&sclg=1&teamls=80&sh=1&hfb=1&hbc=A70042&hfc=FFFFFF"></iframe></div> 
                <div id="fs-upcoming"></div> <script> (function (w,d,s,o,f,js,fjs) { w['fsUpcomingEmbed']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) }; js = d.createElement(s), fjs = d.getElementsByTagName(s)[0]; js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs); }(window, document, 'script', 'fsUpcoming', 'https://cdn.footystats.org/embeds/upcoming.js')); fsUpcoming('params', { teamID: 83 }); </script>
                <div class="stat_box stat_box_2 stat_box_md"><iframe  frameborder="0" scrolling="no" width="300" height="190" src="https://www.fctables.com/teams/barcelona-181013/iframe/?type=team-next-match&lang_id=2&country=201&template=43&team=181013&timezone=Europe/Warsaw&time=24&width=300&height=190&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&scfs=22&scfc=333333&scb=1&sclg=1&teamls=80&sh=1&hfb=1&hbc=A70042&hfc=FFFFFF"></iframe></div>
                <div class="stat_box stat_box_3"><iframe frameborder="0"  scrolling="yes" width="300" height="190" src="https://www.fctables.com/spain/liga-bbva/iframe/?type=league-scores&lang_id=2&country=201&template=43&team=181013&timezone=Europe/Warsaw&time=24&width=300&height=190&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&scoreb=f4454f&scorefc=FFFFFF&sgdcoreb=8f8d8d&sgdcorefc=FFFFFF&sh=1&hfb=1&hbc=A70042&hfc=FFFFFF"></iframe></div>
                <div style="clear:both"></div>
            </div>
        
    </div>
{% endblock %}
                 
                
        
        <!-- REMAINING POSTS -->

        {% block content %}
            <div id="last_20_on_the_left">
                {% get_4_to_24_last_posts as remained_last_posts %}
                    {% for post in remained_last_posts %}
                    <a href="{{ post.get_absolute_url }}">
                        <article class="article">    
                            <div class="post_image"><img src="{{ post.image.url }}"></div>
                            <div class="post_data">
                                <div class="post_header">
                                    <h2>{{ post.title|title|truncatechars:30 }}</h2>
                                    <i>{{ post.publish|timesince }} by {{ post.author }}</i>
                                </div>
                                <div class="post_text">
                                    <p class="post_description_normal">{{ post.description }}</p>
                                    <!-- <p class="post_description_sm">{{ post.description|truncatechars:30 }}</p> -->
                                </div>
                            </div>
                            <div style="clear: both"></div>
                            
                        </article>
                    </a>
                    
                    {% endfor %}
        
            </div>  
            <div id="ads_on_the_right"><div class="table"><iframe frameborder="0"  scrolling="yes" width="300" height="700" src="https://www.fctables.com/spain/liga-bbva/iframe/?type=table&lang_id=2&country=201&template=43&team=&timezone=Europe/Warsaw&time=24&po=1&ma=1&wi=1&dr=1&los=1&gf=1&ga=1&gd=1&pts=1&ng=1&form=1&width=300&height=700&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&ths=1&thb=1&thba=FFFFFF&thc=000000&bc=dddddd&hob=f5f5f5&hobc=ebe7e7&lc=333333&sh=1&hfb=1&hbc=A70042&hfc=FFFFFF"></iframe></div>
            <div style="clear:both"></div>
            {% endblock %}


        {% block scrpt %}
            ($(function() {
            

            $('.menu_expander button').on("click", function() {
                // $('.box_expanded').fadeToggle(1000).css({'display': 'block'});
                $('.box_expanded').slideToggle(1000);

            });
            }));
        {% endblock %}
      
