{% extends 'base.html' %}
{% load valverde_tags %}
{% load static %}

{% block content %}
<div id="c3_last_and_2_top">
    {% get_last_post as last_post %}

    <a href="{{ last_post.get_absolute_url }}">
    <div id="main_photo">
        <img src="{{ last_post.image.url }}">
        <a href="{{ last_post.get_absolute_url }}"><div class="text_on_photo"><h1>{{ last_post.title|truncatewords:20 }}</h1>
    </div>
    </a>
        
    {% comment %} <div id="main_photo">
        <a href="{{ last_post.get_absolute_url }}" alt="{{ post.title }}"><img src="{{ last_post.image.url }}"></a>
        <a href="{{ last_post.get_absolute_url }}" alt="{{ post.title }}"><div class="text_on_photo"><h1>{{ last_post.title|truncatewords:20 }}</h1></a>
    </div> {% endcomment %}
                  
            
    </div>
    <div id="c2nd_and_3rd">
        {% get_2nd_last_post as second_post %}
        {% get_3rd_last_post as third_post %}

        <div id="last_posts_text"><span id="last_p">LAST POSTS</span></div>

        <a href="{{ second_post.get_absolute_url }}">
        <div class="first_photo">
                <img src="{{ second_post.image.url }}">
                <div class="text_on_1st"><h2>{{ second_post.title|truncatewords:20 }}</h2></div>
        </div>
        </a>

        <a href="{{ third_post.get_absolute_url }}">
        <div class="second_photo">               
             <img src="{{ third_post.image.url }}"></a>
            <a href="{{ third_post.get_absolute_url }}"> <div class="text_on_2nd"><h2>{{ third_post.title|truncatewords:20 }}</h2></div>
        </div>
        </a> 
        
    </div>

    <div id="c2_most_commented">
    {% get_first_most_commented_post as most_commented_post %}
    {% get_second_most_commented_post as second_most_commented_post %}

        <div id="most_commented_text"><span id="most_c">MOST COMMENTED</span></div>

        <a href="{{ most_commented_post.get_absolute_url }}">
        <div class="c1st_most_commented">
            <img src="{{ most_commented_post.image.url }}">
            <div class="text_on_1st_most_commented"><h2>{{ most_commented_post.title|truncatewords:20 }}</h2></div>
        </div>
        </a>

        <a href="{{ second_most_commented_post.get_absolute_url }}"> 
        <div class="c2nd_most_commented">
            <img src="{{ second_most_commented_post.image.url }}"></a>
            <div class="text_on_2nd_most_commented"><h2>{{ second_most_commented_post.title|truncatewords:20 }}</h2></div>
        </div>
        </a>
    <div style="clear: both;"></div>    
    </div>


</div>
<div id="ad2"></div>
<div id="last20_on_the_left_and_ads_on_the_right">
    <div id="last_20_on_the_left">
        {% get_4_to_24_last_posts as remained_last_posts %}
            {% for post in remained_last_posts %}
            <a href="{{ post.get_absolute_url }}">
            <article class="article">    
                <div class="post_image"><img src="{{ post.image.url }}"></div>
                <div class="post_data"><h2>{{ post.title }}</h2>
                <i>{{ post.publish }} by {{ post.author }}</i>
                <p>{{ post.body|truncatechars:70 }}</p></div>
                <div style="clear: both">
                
                <hr>
            </article>
            </a>
            {% endfor %}

    </div>
    <div id="ads_on_the_right"></div>
</div>

{% comment %} <div class="test">

    {% get_first_most_commented_post as post %}
    <img src="{{ post.image.url }}">
</div> {% endcomment %}
{% endblock content %}