{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="post_detail_and_ads">
    <div id="post_detail_and_post_photo">
        <div id="post_photo"><img width="750" height="470" src="{{ post.image.url }}"></div>
        
        <div id="post_detail">
            <h1>{{ post.title }}</h1>
            <i> {{ post.publish }} by {{ post.author }}
            <hr><br>
            <p>{{ post.body }}</p>
        </div>
    
    </div>

    <div id="post_detail_ads">
    
    </div>
</div>

{% endblock %}