{% extends 'base.html' %}
{% load static %}
{% load valverde_tags %}

{% block content %}

<div id="post_detail_and_ads">
    <div id="post_detail_and_post_photo">
        <div id="post_photo"><img width="750" height="470" src="{{ post.image.url }}"></div>
        
        <div id="post_detail">
            <h1>{{ post.title|title }}</h1>
            <i> Created by {{ post.author }} on {{ post.publish }} </i>
            <hr><br>
            <p id="post_detail_content">{{ post.body|safe }}</p><br>
             {% with total_likes=post.users_like.count users_like=post.users_like.all %}
                <div class="post-info">
                <div>
                    <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    likes
                    </span>
                    {% if user.is_authenticated %}
                        <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                        {% if request.user not in users_like %}
                            Like
                        {% else %}
                            Unlike
                        {% endif %}
                        </a>
                    {% endif %}
                </div>

                </div>
                <div class="post-likes">
                {% for user in post.users_like.all %}
                    <div>
                    <img src="{{ user.profile.photo.url }}">
                    <p>{{ user.first_name }}</p>
                    </div>
                {% empty %}
                    No one has liked this post yet
                {% endfor %}
                </div>
            {% endwith %}
                    </div>

        <div id="comments">
            
            <h2>COMMENTS</h2>
            <div class="add_comment">
            {% if user.is_authenticated %}
                {% if new_message %}
                    <p>Your comment has been succesfully added</p>

                {% else %}
                    <form action='.' method="post">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="Add a comment">
                    </form>
                {% endif %}
            {% else %}
            <i> Please <a href="{% url 'login' %}">log in</a> to add a comment </i>
            {% endif %}
            </div>

            {% for comment in comments %}
            <div class="comment">
                
                    <h3>{{ comment.author }}</h3><i>&nbsp; &nbsp;{{ comment.created }}</i>
                    <p>{{ comment.body }}</p>
                
            </div>
            {% endfor %}
        </div>     
    
    </div>

    <div id="post_detail_ads">
        <div id="fs-upcoming"></div> <script> (function (w,d,s,o,f,js,fjs) { w['fsUpcomingEmbed']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) }; js = d.createElement(s), fjs = d.getElementsByTagName(s)[0]; js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs); }(window, document, 'script', 'fsUpcoming', 'https://cdn.footystats.org/embeds/upcoming.js')); fsUpcoming('params', { teamID: 83 }); </script>
    </div>
</div>

{% endblock %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "valverde:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}