{% extends 'base2.html' %}
{% load static %}
{% load valverde_tags %}


<div class="wrapper_post_detail">
    {% block grid %}
    <div class="post_detail_grid">

        <div class="post_photo box box_p1"><img width="750" height="470" src="{{ post.image.url }}"></div>
        <br>
    
    

    <!-- MOST COMMENTED POSTS -->
            
    {% get_first_most_commented_post as most_commented_post %}
    {% get_second_most_commented_post as second_most_commented_post %}
    
        <div class="most_commented_posts_post_detail_text box">
            <p class="text_post_detail">MOST COMMENTED</p>
        </div>
                
        <div class="most_commented_1_post_detail box">
            <a href="{{ most_commented_post.get_absolute_url }}">
                
                    <img src="{{ most_commented_post.image.url }}">
                    <div class="text_on_1st text_on_photo"><h2>{{ most_commented_post.title|truncatechars:80|title }}</h2></div>
                    <div class="comment_number"><i class="icon-fire"></i>{{ most_commented_post.comments.count }}</div>
                
            </a>
        </div>

                
        <div class="most_commented_2_post_detail box">
            <a href="{{ second_most_commented_post.get_absolute_url }}"> 
                
                    <img src="{{ second_most_commented_post.image.url }}">
                    <div class="text_on_2nd text_on_photo"><h2>{{ second_most_commented_post.title|truncatechars:80|title }}</h2></div>
                    <div class="comment_number"><i class="icon-fire"></i>{{ second_most_commented_post.comments.count }}</div>
            </a>
        </div>
    </div>

    {% endblock %}

    {% block content %}
        
        <div id="post_detail">
            <h1>{{ post.title|title }} {% if can_edit %}<a href="{{ edit_link }}">edit</a>{% endif%}</h1>
            <i> Created by {{ post.author }} on {{ post.publish|timesince }} </i>
            <hr>
            <p id="post_detail_content">{{ post.body|safe }}</p><br>
             
        </div>

 <div id="comments">
            
            <h2>COMMENTS</h2>
            <div class="add_comment">
                {% if user.is_authenticated %}
                    {% if new_message %}
                        <p>Your comment has been succesfully added</p>

                    {% else %}
                        <form action='.' method="post">
                            {{ comment_form.as_p }}
                            {% csrf_token %}
                            <input type="submit" value="Add a comment">
                        </form>
                    {% endif %}
                {% else %}
                <i> Please <a href="{% url 'login' %}">log in</a> to add a comment </i>
                {% endif %}
            </div>

            {% for comment in comments %}
            {% if comment.is_parent %}
            {% with total_likes=comment.users_like.count users_like=comment.users_like.all %}

                <div class="comment">
                        
                    <h3>{{ comment.author }}</h3><i>&nbsp; &nbsp;{{ comment.created|timesince }}</i>
                    
                    <div class="likes_number">
                            <a style="color: green;" href="#" data-id="{{ comment.id }}" data-action="{% if request.user in users.like %}un{% else %}like{% endif %}" class="like {{ comment.id }} button">
                                <span><i class="icon-plus"></i> </span>
                                <span class="count">
                                    <span style="text-align: right;" class="comment_likes_id {{ comment.id }} ">{{ total_likes }}</span>
                                </span>
                            </a>
                    </div>
                    <div style="clear:both;"></div>
                    <p>{{ comment.body }}</p>


                    <div class="answer_to_comment" rel="{{ forloop.counter }}">
                        <p><i style="font-size: 20px;" class="icon-chat-empty"></i>Reply</p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="add_a_subcomment subcomment{{ forloop.counter }}">
                    {% if user.is_authenticated %}
                        {% if new_message %}
                            <p>Your comment has been succesfully added</p>

                        {% else %}
                            <form action='.' method="post">
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <input type="submit" value="Reply">
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                            </form>
                        {% endif %}
                    {% else %}
                    <i> Please <a href="{% url 'login' %}">log in</a> to add a comment </i>
                    {% endif %}
                </div>
                    <div style="clear: both;"></div>
                {% endwith %}
                
                    {% for child_comment in comment.children %}
                    {% with total_likes=child_comment.users_like.count users_like=child_comment.users_like.all %}
                        <div class="subcomment">
                            <h3>{{ child_comment.author }}</h3><i>&nbsp; &nbsp;{{ child_comment.created|timesince }}</i>
                            <div class="likes_number">
                                <a style="color: green;" href="#" data-id="{{ child_comment.id }}" data-action="{% if request.user in users.like %}un{% else %}like{% endif %}" class="like {{ child_comment.id }} button">
                                    <span><i class="icon-plus"></i> </span>
                                    <span class="count">
                                        <span style="text-align: right;" class="comment_likes_id {{ child_comment.id }} ">{{ total_likes }}</span>
                                    </span>
                                </a>
                            </div>
                            <div style="clear:both;"></div>

                            <p>{{ child_comment.body }}</p>                           
                            
                
                        </div>
                        <div style="clear: both"></div>
                    {% endwith %}
                    {% endfor %}
                

            {% endif %}
            {% endfor %}
        </div>     
    
    

    <!-- <div id="post_detail_ads">
        <div id="fs-upcoming"></div> <script> (function (w,d,s,o,f,js,fjs) { w['fsUpcomingEmbed']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) }; js = d.createElement(s), fjs = d.getElementsByTagName(s)[0]; js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs); }(window, document, 'script', 'fsUpcoming', 'https://cdn.footystats.org/embeds/upcoming.js')); fsUpcoming('params', { teamID: 83 }); </script>
    </div> -->

{% endblock %}
</div>

{% block scrpt %}


($(function() {
    $('.answer_to_comment').on("click", function() {
        var nr = $(this).attr("rel");
        $('.subcomment'+nr).slideToggle(500).addClass("active");
    });
}));


{% endblock %}



{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    var comment_id = $(this).data("id")
    {% comment %} alert(comment_id) {% endcomment %}
    $.post('{% url "valverde:comments_like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {

          var previous_action = $('a.like.'+comment_id).data('action');
          {% comment %} alert("previous_action: "+ previous_action) {% endcomment %}

          // toggle data-action
          $('a.like.'+comment_id).data('action', previous_action == 'like' ? 'unlike' : 'like');
            {% comment %} alert("new action: "+$('a.like.'+comment_id).data('action')) {% endcomment %}

          {% comment %} // toggle link text in case i want like and unlike text
          $('a.like.'+comment_id).text(previous_action == 'like' ? 'unlike' : 'like'); {% endcomment %}
            {% comment %} alert("new action text: " + $('a.like.'+comment_id).text()) {% endcomment %}
          // update total likes
          var previous_likes = parseInt($('span.count .'+comment_id).text());
          $('span.count .'+comment_id).text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}

