<!doctype html>
{% load static %}
{% load valverde_tags %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'valverde/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'valverde/fontello/css/fontello.css' %}"> <!-- helpful login icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'valverde/fontello2/css/fontello.css' %}">

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="topbar">
            <a href="{% url 'valverde:index' %}">
            <div class="left_container"><img style="float: left;" width="120px" height="60px" src="{% static 'edziu1.png' %}"><p class="valverde_out">ValverdeOut<p></div>
            </a>
            
            <div class="mid_container"> "It is what it is..."</div>
            <div class="right_container">
              {% if user.is_authenticated %}
                <p class="icons"><a href="{% url 'logout' %}" title="logout"><i class="icon-logout-1"></i></a></p>
              {% else %}
                <p class="icons"><a href="{% url 'valverde:register' %}" title="register"><i class="icon-user-plus"></i></a><a href="{% url 'login' %}"><i class="icon-user" title="login"></i></a></p>
              {% endif %}
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="menu">
            
            <div class="menu_element 1"><a href="{% url 'valverde:index' %}"><span class="menu_text">Home</span></a></div>
            <div class="menu_element 2"><span class="menu_text">Add a post</span></div>
            <div class="menu_element 3"><span class="menu_text"><a href="{% url 'valverde:contact' %}">Contact</a></span></div>
            <div class="menu_element 4"><span class="menu_text">About</span></div>
            <div style="clear: both;"></div> 
            
        </div>
        <div class="ad"></div>

        <div id="content">{% block content %}{% endblock content %}</div>
    </div>
    <div class="under_wrapper">{% block under %}{% endblock %}</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // Te metody HTTP nie wymagajązabezpieczania przed CSRF
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
       });
  </script>
  </body>
</html>